body {
    margin: 0;
}

nav {
    background-color: #e3d5ca;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

img {
    height: 80px;
    border-radius: 5%;
}

ul {
    list-style: none;
}

li {
    display: inline;
    cursor: pointer;
    margin: 0 10px;
}
